@model List<Product>
@{
    ViewBag.Title = "Product List";
}

<h1>Product List</h1>
<table class="table table-bordered table-striped">
    <thread>
<tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>


</tr>


    </thread>
    <tbody>
        @foreach(var product in @Model)
        {
        <tr>
            <td>@product.Name</td>
            <td>@($"{product.Price:C}")</td>
            <td><a asp-controller="Product" asp-action="detail" asp-route-slugLink="@product.Slug">View</a></td>
        </tr>
        }
    </tbody>
</table>

<a asp-controller="home" asp-action="Index" class="btn btn-primary">Home</a>